/Term 3/Algorithms and data structures/lab1/.idea
/Term 3/Algorithms and data structures/lab1/out
/Term 3/Algorithms and data structures/lab1/lab1.iml
*.xml
*.iml
*.class
*.in
Term 3/Discrete mathematics/lab1/C++/.idea/.name
*.txt
Term 3/Discrete mathematics/lab2C/cmake-build-debug/Makefile
*.out
*.exe
*.cbp
*.marks
Term 3/Discrete mathematics/lab2C/cmake-build-debug/CMakeFiles/Makefile2
*.cmake
*.make
*.rsp
*.a
*.obj
*.internal
*.includecache
*.log
*.check_cache
*.c
*.bin
Term 3/Algorithms and data structures/lab3/out/production/lab3/A.md
Term 3/Algorithms and data structures/lab3/out/production/lab3/B.md
Term 3/Algorithms and data structures/lab3/out/production/lab3/C.md
Term 3/Algorithms and data structures/lab3/out/production/lab3/D.md
Term 3/Algorithms and data structures/lab3/out/production/lab3/E.md
Term 3/Algorithms and data structures/lab3/out/production/lab3/G.md
Term 3/Algorithms and data structures/lab3/out/production/lab3/README.md
Term 3/Discrete mathematics/lab1/C++/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Term 3/Discrete mathematics/lab2C/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Term 3/Discrete mathematics/lab1/out/production/lab1/G/README.md
Term 3/Discrete mathematics/lab1/out/production/lab1/F/README.md
Term 3/Discrete mathematics/lab1/out/production/lab1/E/README.md
Term 3/Discrete mathematics/lab1/out/production/lab1/C/README.md
Term 3/Discrete mathematics/lab1/out/production/lab1/B/README.md
Term 3/Discrete mathematics/lab1/out/production/lab1/A/README.md
Term 3/Discrete mathematics/lab1/Java/out/production/lab1/G/README.md
Term 3/Discrete mathematics/lab1/Java/out/production/lab1/F/README.md
Term 3/Discrete mathematics/lab1/Java/out/production/lab1/E/README.md
Term 3/Discrete mathematics/lab1/Java/out/production/lab1/C/README.md
Term 3/Discrete mathematics/lab1/Java/out/production/lab1/B/README.md
Term 3/Discrete mathematics/lab1/Java/out/production/lab1/A/README.md
Term 3/Discrete mathematics/lab1/C++/cmake-build-debug/Makefile
Term 3/Discrete mathematics/lab1/C++/cmake-build-debug/CMakeFiles/Makefile2
